/*
this file is incredibly ugly and messy
proceed with caution
*/

:focus {
  outline-color: transparent;
  outline-style: none;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  /*margin: 0;*/
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-size: 0.95em;
  width:100%;
}
h1, h2 {
  font-weight: 100;
}
button {
  font-size: 1.5em;
  padding: 15px 50px;
  cursor: pointer;
  transition: all 0.1s linear;
}

button:hover {
  background: black;
  color: white;
}

button.disable {
  cursor: default;
  opacity: 0;
}

button {
  border: 4px solid black;
  font-weight: bold;
  text-transform: uppercase;
  background: white;
  color: black;
}

input {
  font-weight: bold;
  text-transform: uppercase;
  background: white;
  color: black;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.19);
  border: none;
  border-bottom: 3px solid black;
}

.md-icon {
  font-family: 'Material Icons';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-style: normal;
}

.hidden {
  display: none !important;
}

/* HEADER */

header.header {
  height: 45px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  vertical-align: middle;
  z-index: 999;
}
header.header > * {
  vertical-align: middle;
  height: 100%;
}
header.header button {
  margin-left: 0.5em;
}
header.header .logo {
  max-width: 12em;
  margin-left: 1.5em;
}

/* MAIN */

section.app {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

main {
  max-width: 720px;
  flex: 1;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
}

main.deactivated {
  opacity: 0.5;
  pointer-events: none;
}

button.send {
  width: 100%;
  text-align: center;
}

.info {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;
}
.info p {
  flex: 1;
}

/* CAPTURE */

.photo {
  position: relative;
}

.camera video, .camera img {
  width: 100%;
}

.photo-btn {
  position: absolute;
  bottom: 10px;
  cursor: pointer;
  height: 62px;
}

.camera-ui {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* STUDENT LIST */

.student-finder {
  margin-bottom: 5px;
  position: relative;
}

.student-img {
  position: absolute;
  left: 6px;
  top: 7px;
  z-index: 999;
}

.clear-img {
  position: absolute;
  right: 13px;
  top: 13px;
  z-index: 999;
  cursor: pointer;
}

.autocomplete-list {
  position: relative;
}

.student-input {
  font-size: 24px;
  width: 100%;
  padding: 12px;
  padding-left: 45px;
}

ul.student-list {
  width: 100%;
  max-height: 300px;
  overflow: scroll;
  background-color: white;
  position: absolute;
  z-index: 999;
}

ul.student-list li {
  display: flex;
  padding: 5px;
  border-bottom: 3px solid black;
  cursor: pointer;
  font-size: 1.5em;
}

ul.student-list li:hover {
  background-color: #fcfcfc;
}

ul.student-list img {
  margin-right: 10px;
}


/* LOANS LIST */

ul.loans-list {
  overflow: scroll;
  height: 100%;
  margin: 5px;
}

ul.loans-list li {
  display: inline-block;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.19);
}

ul.loans-list .loan-photo {
  width: 250px;
}

ul.loans-list .meta {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.loans-list .meta > p{
  flex:1;
  padding: 5px 10px;
  font-weight:100;
}

ul.loans-list .meta > p span{
  font-size:0.7em;
  font-weight:normal;
}

ul.loans-list .validate {
  height: 46px;
  width: 46px;
  padding-right: 10px;
  cursor: pointer;
}

ul.loans-list .validate:hover path {
  opacity: 0.5;
}
