{% extends "base.html" %}

{% block main %}

<section id="app" class="app">
  <!-- <header class="header">
      {% block header %}
      <button id="toggle-menu">☰</button>
      <img class="logo" src="{{ url_for('static', filename='res/logo.svg') }}">
      {% endblock %}
  </header> -->
  <main>

    <div class="student-finder">
      <img class="student-img" src="/static/res/user.svg" height="46px" />
      <i class="md-icon clear-img" style="opacity:0">close</i>
      <div class="autocomplete-list">
        <input class="student-input" type="text"></input>
        <ul class="student-list" style="display:none;"></ul>
      </div>
    </div>

    <div class="controls">
      <button class="btn start-photo"><i class="md-icon">photo_camera</i> Photo</button>
      <div class="generic">
        <button class="btn" data-id="g-key-mid-1"><i class="md-icon">vpn_key</i>MID1</button>
        <button class="btn" data-id="g-key-mid-2"><i class="md-icon">vpn_key</i>MID2</button>
        <button class="btn" data-id="g-key-vr"><i class="md-icon">vpn_key</i>VR</button>
        <button class="btn" data-id="g-key-bike"><i class="md-icon">vpn_key</i>Vélo</button>
      </div>
    </div>

    <div class="photo" style="display:none;">
      <div class="camera">
        <i class="md-icon stop-camera">close</i>
        <video autoplay></video>
      </div>
      <div class="camera-ui">
        <i class="md-icon photo-btn take-photo">photo_camera</i>
        <i class="md-icon photo-btn live-view">autorenew</i>
      </div>
    </div>

    <button class="send" style="display:none;">Save</button>

  </main>
</section>

<iframe src="/loans" class="loans" frameborder="0" scrolling="no" onload="resizeIframe(this)"></iframe>

{% endblock %}


{% block scripts %}
{{ super () }}
<script type="text/template" id="user-card-tpl">
    <% if (typeof(img) !== 'undefined') { %>
    <img src="/img/<%= img %>" height="46px"/>
    <% } else { %>
    <div style="width:50px; height:40px;"></div>
    <% } %>
    <p><%= name %></p>
</script>
<!-- third parties -->
<script src="{{ url_for('static', filename='libs/ejs.min.js') }}"></script>
<script src="{{ url_for('static', filename='libs/qwest.min.js') }}"></script>
<script src="{{ url_for('static', filename='libs/adapter-latest.js') }}"></script>
<!-- scripts -->
{% if admin %}
<script src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endif %}
<script src="{{ url_for('static', filename='js/camera-grabber.js') }}"></script>
<script src="{{ url_for('static', filename='js/student-finder.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>


{% endblock %}
